<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <dubbo:application name="dubbo-provider01"/>


    <!--&lt;!&ndash; zookeeper注册中心配置写法一 &ndash;&gt;-->
    <!--<dubbo:registry address="zookeeper://35.189.178.24:2181"/>-->

     <!--zookeeper注册中心配置写法二-->
    <dubbo:registry protocol="zookeeper" address="35.189.178.24:2181"/>

    <!--&lt;!&ndash; redis注册中心配置写法一 &ndash;&gt;-->
    <!--<dubbo:registry address="redis://192.168.31.130:6379"/>-->
    <!--&lt;!&ndash; redis注册中心配置写法二 &ndash;&gt;-->
    <!--<dubbo:registry protocol="redis" address="192.168.31.130:6379"/>-->


    <!--<dubbo:service interface="com.htt.dubbo.service.HelloDubboService" ref="helloDubbo" registry="N/A"/>-->
    <dubbo:service interface="com.htt.dubbo.service.HelloDubboService" ref="helloDubboService" version="1.0.0"/>
    <dubbo:service interface="com.htt.dubbo.service.HelloDubboService" ref="helloDubboService1" version="2.0.0"/>

</beans>